<form class="form" [formGroup]="form" (submit)="submit()">
  <div class="tui-form__row">
    <tui-input formControlName="input1">
      Название
    </tui-input>
  </div>

  <div class="tui-form__row">
    <tui-input formControlName="input2">
      Стоимость
    </tui-input>
  </div>

  <div class="tui-form__row">
    <tui-text-area
      [expandable]="true"
      formControlName="comment"
      class="field-small">
      Комментарий
    </tui-text-area>
  </div>

  <div class="tui-form__row buttons">
    <button
      [disabled]="form.invalid"
      tuiButton
      class="tui-form__button"
      size="s"
      type="submit"
    >
      Отправить
    </button>
  </div>
</form>
